# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.pnpm-store

# Logs
*.log

# Python compiled files
*.pyc

# Misc
.DS_Store
.fleet
.idea
/@tmp

# Local env files
.env
.env.*
!.env.example
!.env.dev.example
!.env.prod.example
!backends/php/.env*

# dev/build outputs
backend/php/vendor

# my files
FORENSIC_REPORT.md
.vscode/settings.json
CHANGES_SUMMARY.md